################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IOT_ProducerApp/bin/Debug/net8.0
/IOT_ProducerApp/obj
